titanic datasını okuyunuz(<b>train.csv</b>). Ödevin geri kalanında dataframe gösterimlerini <b>display()</b> fonksiyonunu kullanarak yapınız.<br> Örn: display(titanic_df)

In [93]:
import pandas as pd
import numpy as np

df=pd.read_csv(r"C:\Users\ugurz\OneDrive\Desktop\Ödev\train.csv")
display(df.SibSp)

0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    1
889    0
890    0
Name: SibSp, Length: 891, dtype: int64

# Soru 1:

Kazada ölenlerin yaş ortalamasını bulunuz

In [3]:
died = df.query("Survived==0")
print(died["Age"].mean())

30.62617924528302

Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [4]:
print(died["Fare"].mean())

22.117886885245902

Kazada ölen erkeklerin yaş ortalamasını bulunuz

In [5]:
died_male = died.query("Sex=='male'")
print(died_male["Age"].mean())

31.618055555555557

Kazada ölen Kadınların yaş ortalamasını bulunuz

In [6]:
died_female = died.query("Sex=='female'")
print (died_female["Age"].mean())

25.046875

# Soru 2:

Kazadan kurtulanların yaş ortalamasını bulunuz

In [7]:
survived = df.query("Survived==1")
print (survived["Age"].mean())

28.343689655172415

Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [8]:
print(survived["Fare"].mean())

48.39540760233918

Kazadan kurtulan toplam kişi sayısını bulunuz

In [9]:
print (len(survived))

342

Kazadan kurtulan erkeklerin yaş ortalamasını bulunuz

In [10]:
print (survived.query("Sex=='male'")["Age"].mean())

27.276021505376345

Kazadan kurtulan kadınların yaş ortalamasını bulunuz

In [11]:
print (survived.query("Sex=='female'")["Age"].mean())

28.84771573604061

# Soru 3:

10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [12]:
print (df.query("Age<10")["Fare"].median())

27.0

10 yaşından büyüklerin bilet fiyatlarının medyan değerini bulunuz

In [13]:
print (df.query("Age>=10")["Fare"].median())

14.05415

# Soru 5:

1.sınıf, 2.sınıf ve 3.sınıf yolcuların ölüm oranlarını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [14]:
print ("1. sınıf ölen yolcu / yolcu sayısı: ", len(died.query("Pclass==1")),"/",len(df.query("Pclass==1")),
       "\n2. sınıf ölen yolcu / yolcu sayısı: ", len(died.query("Pclass==2")),"/",len(df.query("Pclass==2")),
      "\n3. sınıf ölen yolcu / yolcu sayısı: ", len(died.query("Pclass==3")),"/",len(df.query("Pclass==3")))
       
print("\n\n1. Sınıf yolcu ölüm oranı: ", len(died.query("Pclass==1"))/len(df.query("Pclass==1")),
      "\n2. Sınıf yolcu ölüm oranı: ",len(died.query("Pclass==2"))/len(df.query("Pclass==2")),
      "\n3. Sınıf yolcu ölüm oranı: ",len(died.query("Pclass==3"))/len(df.query("Pclass==3")))
       
print("\nEn yüksek ölüm oranı tahmin edileceği üzere 3. sınıfta görülmüştür (yaklaşık %76).")

1. sınıf ölen yolcu / yolcu sayısı:  80 / 216
2. sınıf ölen yolcu / yolcu sayısı:  97 / 184
3. sınıf ölen yolcu / yolcu sayısı:  372 / 491


1. Sınıf yolcu ölüm oranı:  0.37037037037037035
2. Sınıf yolcu ölüm oranı:  0.5271739130434783
3. Sınıf yolcu ölüm oranı:  0.7576374745417516

En yüksek ölüm oranı tahmin edileceği üzere 3. sınıfta görülmüştür (yaklaşık %76).

1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarını karşılaştırınız

In [15]:
print ("1. sınıf bilet fiyat ortalaması:", df.query("Pclass==1")["Fare"].median(),
       "\n2. sınıf bilet fiyat ortalaması:",df.query("Pclass==2")["Fare"].median(),
      "\n3. sınıf bilet fiyat ortalaması:",df.query("Pclass==3")["Fare"].median())

1. sınıf bilet fiyat ortalaması: 60.287499999999994
2. sınıf bilet fiyat ortalaması: 14.25
3. sınıf bilet fiyat ortalaması: 8.05

# Soru 6:

Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [16]:
print("Ölen kadın sayısı / kadın yolcu sayısı: ", len(died.query("Sex=='female'")),"/",len(df.query("Sex=='female'")),
     "\nÖlen erkek sayısı / erkek yolcu sayısı: ", len(died.query("Sex=='male'")),"/",len(df.query("Sex=='male'")))

print("\nKadın yolcu ölüm oranı: ", len(died.query("Sex=='female'"))/len(df.query("Sex=='female'")),
      "\nErkek yolcu ölüm oranı: ",len(died.query("Sex=='male'"))/len(df.query("Sex=='male'")))

print("\nKadın yolcuların yaklaşık %26'sı ölürken, erkeklerin ölüm oranı %81'dir. Gemi kazalarında geleneksel olarak "
      "\nönce kadın ve çocukları kurtarma kuralı bu oranlara sebep olmuş olabilir.")

Ölen kadın sayısı / kadın yolcu sayısı:  81 / 314
Ölen erkek sayısı / erkek yolcu sayısı:  468 / 577

Kadın yolcu ölüm oranı:  0.25796178343949044
Erkek yolcu ölüm oranı:  0.8110918544194108

Kadın yolcuların yaklaşık %26'sı ölürken, erkeklerin ölüm oranı %81'dir. Gemi kazalarında geleneksel olarak
önce kadın ve çocukları kurtarma kuralı bu oranlara sebep olmuş olabilir.

# Soru 7:

Kazada ölen erkeklerin ortalama bilet fiyatı ile kurtulan erkeklerin ortalama bilet fiyatını karşılaştırınız. Bir veya bir kaç cümle ile sonucu <b>yorumlayınız.</b>

In [22]:
print("Ölen erkeklerin ortalama bilet fiyatı:",died_male["Fare"].mean())
print("Kurtulan erkeklerin ortalama bilet fiyatı:",survived.query("Sex=='male'")["Fare"].mean())





print("\nSınıfların ölüm oranlarından tahmin edeceğimiz üzere kurtulan erkek yolcuların bilet fiyat ortalamaları"
     "\nölen yolculardan daha yüksektir.(Bilet fiyatınız arttıkça hayatta kalma ihtimaliniz de artar.)")


df.Embarked

Ölen erkeklerin ortalama bilet fiyatı: 21.96099294871795
Kurtulan erkeklerin ortalama bilet fiyatı: 40.82148440366972

Sınıfların ölüm oranlarından tahmin edeceğimiz üzere kurtulan erkek yolcuların bilet fiyat ortalamaları
ölen yolculardan daha yüksektir.(Bilet fiyatınız arttıkça hayatta kalma ihtimaliniz de artar.)

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

# Missing Value Doldurma

Bundan sonraki soruları <b>train_missing.csv</b> datasını kullanarak cevaplayınız.

# Soru 8

Age, Embarked ve Fare değişkenlerini mean/median/mode değerlerini kullanarak değişken tipine uygun olacak şekilde doldurunuz.

In [76]:
missing_df=pd.read_csv(r"C:\Users\ugurz\OneDrive\Desktop\Ödev\train_missing.csv")

missing_df["Age"]=missing_df["Age"].fillna(int(missing_df["Age"].mean()))
missing_df["Embarked"]= missing_df["Embarked"].fillna(str("S"))

#NaN ücretleri kendi sınıfının ortalamasıyla dolduruyoruz
for index, row in missing_df.iterrows():
    if missing_df.loc[index,'Pclass'] ==3:
        missing_df["Fare"]=missing_df["Fare"].fillna(missing_df.loc[missing_df.Pclass == 3]["Fare"].mean())
    elif missing_df.loc[index,'Pclass'] ==2:
        missing_df["Fare"]=missing_df["Fare"].fillna(missing_df.loc[missing_df.Pclass == 2]["Fare"].mean())
    elif missing_df.loc[index,'Pclass'] ==1:
        missing_df["Fare"]=missing_df["Fare"].fillna(missing_df.loc[missing_df.Pclass == 1]["Fare"].mean())

print(missing_df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp          170
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

# Soru 9

SibSp değişkeni hangi yöntemler ile doldurulabilir, fikir yürütün. Uygun bir yöntem ile doldurun. (SibSp değişkeni kişilerin gemide bulunan kardeş/eş sayısını belirtiyor.)

In [105]:

missing_df["SibSp"]=missing_df["SibSp"].fillna(int(missing_df["SibSp"].mode()))
missing_df["SibSp"].isnull().sum()

0

# Soru 10

Datayı baştan okuyun. Embarked değişkenini "NAN" şeklinde yeni bir kategorisi olacak şekilde doldurun.

In [132]:
df.Embarked.replace(np.nan, "NAN", inplace=True)

df.index[df['Embarked'] == "NAN"].tolist()

[61, 829]

# Soru 11

"Fare" değişkeni için "Fare_Missing" adında yeni bir değişken türetip "Fare" değişkenini median ile doldurun.

In [153]:
fare_missing= missing_df["Fare"]
missing_df["Fare_Missing"]=fare_missing

missing_df["Fare"].fillna(missing_df["Fare"].median(), inplace=True)

missing_df = missing_df[['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare','Fare_Missing', 'Cabin', 'Embarked']]

display(missing_df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Fare_Missing,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.250000,7.250000,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.283300,71.283300,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.925000,7.925000,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.100000,53.100000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.050000,8.050000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0.0,0,211536,13.000000,13.000000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0.0,0,112053,30.000000,30.000000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.0,1.0,2,W./C. 6607,13.569212,13.569212,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0.0,0,111369,30.000000,30.000000,C148,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0.0,0,370376,7.750000,7.750000,NaN,Q